<!-- ======= Sidebar ======= -->

<div class="tmb-right-sidebar-nav w-100" id="tmb-right-sidebar-nav">

    <div class="search-bar">
        <form class="search-form d-flex align-items-center">
            <input type="text" class="form-group" id="faculty_search_input" placeholder="Search faculty" title="Enter keyword">
            <button id="tmb-search">
                <div class="lds-circle">
                    <div></div>
                </div>
            </button>
        </form>
    </div>

    <input type="text" id="faculty_search_input"  placeholder="Search faculty" title="Enter keyword">

    <ul id="users-list" class="list-group list-group-flush">

    </ul>
    <footer class="d-flex justify-content-center tex py-4 align-items-center bg-primary">
        Thats all !
    </footer>

</div>

<!-- End Sidebar-->