<!-- ======= Sidebar ======= -->

<ul class="tmb-right-sidebar-nav" id="tmb-right-sidebar-nav">

    <li class="nav-heading">
        <i class="bi sib  bi-funnel"></i>
        <input type="text" id="faculty_search_input" placeholder="Search faculty" title="Enter keyword">
    </li>

    <!-- <div class="search-bar">
        <form class="search-form d-flex align-items-center">
            <input type="text" id="faculty_search_input" placeholder="Search faculty" title="Enter keyword">
            <button id="tmb-search">
                <div class="lds-circle">
                    <div></div>
                </div>
            </button>
        </form>
    </div> -->

    <input type="text" placeholder="Search Users" id="filter_users" />

    <ul id="users-list">

    </ul>

</ul>

<!-- End Sidebar-->