<!-- ======= Header ======= -->

<div class="d-flex align-items-center justify-content-between">
    <a href="../" class="tmb-logo d-flex align-items-center">
        <i class="bi bi-layout-wtf"></i>
        <span class="d-none d-lg-block">Udsm Timetable</span>
    </a>
    <i class="bi bi-list toggle-tmb-sidebar-btn"></i>
</div><!-- End Logo -->

<div class="search-bar">
    <form class="search-form d-flex align-items-center">
        <input type="text" id="faculty_search_input" placeholder="Search faculty" title="Enter keyword">
        <button id="tmb-search">
            <div class="lds-circle">
                <div></div>
            </div>
        </button>
    </form>
</div>




<!-- End Search Bar -->


<!-- End Header -->