<!-- ======= Header ======= -->

<div class="d-flex align-items-center justify-content-between">
    <a href="../" class="tmb-logo d-flex align-items-center">
        <i class="bi bi-layout-wtf"></i>
        <span class="d-none d-lg-block">Udsm Timetable</span>
    </a>
    <i class="bi bi-list toggle-tmb-sidebar-btn"></i>
</div><!-- End Logo -->

<div class="search-bar">
    <form class="search-form d-flex align-items-center">
        <input type="text" id="faculty_search_input" placeholder="Search faculty" title="Enter keyword">
        <button id="tmb-search">
            <div class="lds-circle">
                <div></div>
            </div>
        </button>
    </form>
</div>

<input type="text" placeholder="Search Users" id="filter_users"/>

<ul id="users-list">

</ul>

<script>
    var users = [
  'Goku',
  'Naruto',
  'Ichigo',
  'Flash',
  'Batman',
  'Sherlock Holmes',
  'Khaleesi',
  'Steve Fox'
];

ul = document.getElementById("users-list");

var render_lists = function(lists){
  var li = "";
  for(index in lists){
    li += "<li>" + lists[index] + "</li>";
  }
  ul.innerHTML = li;
}

render_lists(users);

// lets filters it
input = document.getElementById('filter_users');

var filterUsers = function(event){
  keyword = input.value.toLowerCase();
  filtered_users = users.filter(function(user){
        user = user.toLowerCase();
       return user.indexOf(keyword) > -1; 
  });
  
  render_lists(filtered_users);
}

input.addEventListener('keyup', filterUsers);

</script>


<!-- End Search Bar -->


<!-- End Header -->